body {
       font-family: courier;
       background-image: url("images/nuuk2.jpg");
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       margin: auto;
       box-sizing: border-box;
       }

.intro {
      margin-top: 15%;
      text-align: center;
      }

a {
  padding: 15px;
  margin: 0px;
}

.flex-container  {
       text-align: center;
       margin-top: 0px;
       cursor: pointer;
}
 li {
   list-style-type: none;
 }

footer {
  position: absolute; /* Child should have absolute position */
  bottom: 0;
  left: 0;
}

.copy
  {
  color: white;
  }

@media only screen and (max-width: 600px) {

body {
  background-image: url("images/nuuk1.jpg")
}
.flex-container  {
       text-align: center;
       margin-top: 20%;
}
