body {
    background-image: url("../images/nuuk2.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: courier;
    text-align: center;
    margin: ;
    }

nav {
    font-size: normal;
    padding: 15px;
    text-align: right;
    position: fixed;
    right: 15px;
    }

section {
    margin: 10%;
    }

p   {
    text-align: left;
    }
u {
    text-decoration: underline;
    }
.flex-container1 {
    display: flex;
    flex-direction: row;
    }
.flex-text1 {
    margin: 15px;
    }

.case1 {
    text-align: left;
  }

.flex-container2 {
      display: flex;
      flex-direction: row-reverse;
      }
.flex-text2 {
      margin: 15px;
      }

.case2 {
      text-align: left;
    }

.flex-container3 {
    display: flex;
    flex-direction: row;
    }
.flex-text3 {
    margin: 15px;
    }

.case3 {
    text-align: left;
    }

.flex-container4 {
    display: flex;
    flex-direction: row-reverse;
    }
.flex-text4 {
    margin: 15px;
    }

.case4 {
    text-align: left;
    }

.flex-container5 {
    display: flex;
    flex-direction: row;
    }
.flex-text5 {
    margin: 15px;
    }

.case5 {
    text-align: left;
    }

.flex-container6 {
    display: flex;
    flex-direction: row-reverse;
    }
.flex-text6 {
    margin: 15px;
    }

.case6 {
    text-align: left;
    }

.flex-container7 {
    display: flex;
    flex-direction: row;
    height: 600px;
    }
.flex-text7 {
    margin: 15px;
    }

.case7 {
    text-align: left;
    }

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    }

@media only screen and (max-width: 600px) {

body {
    background-image: url("../images/nuuk1.jpg") width:100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
img, video {
    max-width: 95%;
    }

nav {
    padding: 15px;
    text-align: right;
    position: static;
    right: 15px;
    }

.flex-container1 {
    display: flex;
    flex-direction: column;
    }
.flex-container2 {
    display: flex;
    flex-direction: column;
    }
.flex-container3 {
    display: flex;
    flex-direction: column;
    }
.flex-container4 {
    display: flex;
    flex-direction: column;
    }
.flex-container5 {
    display: flex;
    flex-direction: column;
    }
.flex-container6 {
    display: flex;
    flex-direction: column;
    }
.flex-container7 {
    display: flex;
    flex-direction: column;
    height: 600px;
    }
}
