body {
    background-image: url("../images/nuuk2.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: courier;
    text-align: center;
    margin: ;
    }

nav {
    font-size: normal;
    padding: 15px;
    text-align: right;
    }
section {
    margin: 10%;
    }

.flex-container1 {
    display: flex;
    flex-direction: row;
    }
.flex-text1 {
    margin: 15px;
    }

.case1 {
    text-align: left;
  }

.flex-container2 {
      display: flex;
      flex-direction: row-reverse;
      }
.flex-text2 {
      margin: 15px;
      }

.case2 {
      text-align: right;
    }

.flex-container3 {
    display: flex;
    flex-direction: row;
    }
.flex-text3 {
    margin: 15px;
    }

.case3 {
    text-align: left;
    }

@media only screen and (max-width: 600px) {

body {
      background-image: url("../images/nukabackground.jpg") width:100%;
      }
}
