body{
    font-family: roboto condensed;
    background-color: #66717E;
    text-align: center;
    margin: 0;
    }

nav {
    font-family: roboto condensed;
    font-size: normal;
    padding: 15px;
    text-align: right;
    }

video{
      width: 100%;
      height: auto;
      max-height: 1080px;
      }

@media only screen and (max-width: 600px) {
body {
      background-color: white;
      }
