body{
    background-image: url("../images/landscape-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: courier;
    background-color: #66717E;
    text-align: center;
    }
section {
    margin-left: 10%;
    margin-right: 10%;
    }

div {
    margin: 15px;
}

nav {
    padding: 15px;
    text-align: right;
    position: fixed;
    right: 15px;
    }

p {
  text-align: left;
}

.flex-container1 {
    display: flex;
    flex-direction: row;
    background-color: white;
    background: rgba(255, 255, 255, 0.2);
    }

.flex-text1 {
    margin: 15px;
    }

.case1 {
    text-align: left;
    }

.flex-container2 {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    background: rgba(255, 255, 255, 0.2);
}

video {
  max-width: 300px;
  object-fit: contain;
}

.flex-text2 {
  margin: 15px;
  text-align: center;
}
ul {
    column-count: 1;
    text-align: left;
}

.case2 {
  text-align: left;
}

.flex-container3 {
    display: flex;
    flex-direction: row;
    background-color: white;
    background: rgba(255, 255, 255, 0.2);
}
.flex-text3 {
  margin: 15px;
}

.case3 {
  text-align: left;
}

.flex-container4 {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    background: rgba(255, 255, 255, 0.2);
}
.flex-text4 {
  margin: 15px;
}

.case4 {
  text-align: left;
}

.flex-container5 {
    display: flex;
    flex-direction: row;
    background-color: white;
    background: rgba(255, 255, 255, 0.2);
}
.flex-text5 {
  margin: 15px;
}
.case5 {
  text-align: left;
}
.flex-container6 {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    background: rgba(255, 255, 255, 0.2);
    }
.flex-text6 {
  margin: 15px;
}
.case6 {
  text-align: left;
}

footer {
  position: fixed; /* Child should have absolute position */
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 600px) {

  img, video {
      max-width: 95%;
  }

  nav {
      padding: 15px;
      text-align: right;
      position: static;
      right: 15px;
      }

  .flex-container1 {
      display: flex;
      flex-direction: column;
      }
  .flex-container2 {
      display: flex;
      flex-direction: column;
      }
  .flex-container3 {
      display: flex;
      flex-direction: column;
      }
  .flex-container4 {
      display: flex;
      flex-direction: column;
      }
  .flex-container5 {
      display: flex;
      flex-direction: column;
      }
  .flex-container6 {
      display: flex;
      flex-direction: column;
      }
}
